﻿.folder-card {
    padding: 7px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

    .folder-card > img {
        width: 100%;
        margin: auto;
    }

    .folder-card > .folder-card-name {
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: auto;
    }

.folder-card-selected {
    border-radius: 7px;
    background-color: cornflowerblue;
}

.icon-folder {
    padding: 2%;
    width: 8%;
}

    .icon-folder > a > img {
        height: auto;
        width: 100%;
    }

.folder-name {
    text-align: center;
    margin: 0;
}
