﻿.modal-window-background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(100,100,100,0.3);
}

.modal-window-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Safari */
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 7px;
}


.modal-window-header {
    background-color: cornflowerblue;
    padding: 5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.modal-window-close {
    float: right;
}

.modal-window-body {
    padding: 20px;
    flex-grow: 1;
    position: relative;
}

    .modal-window-body input {
        width: 20em;
    }

.modal-window-ok {
    float: right;
}

.modal-window-footer {
    border-top: 1px solid #bbb;
    padding: 10px 20px;
    margin-top: auto;
}
