﻿

.product-container {
    padding: .8em;
    background-color: #fff;
    margin: 10px;
    flex: 1 0 calc(20% - 10px);
    cursor: pointer;
}

    .product-container:hover {
        box-shadow: 5px 5px 5px 5px #eee;
        border: 1px solid #eee;
        transform: scale(1.1);
        z-index: 100;
        transition: box-shadow 400ms ease, transform 400ms ease;
    }


.product-image-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
}


.product-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.product-label {
    width: 100%;
    margin-top: .8em;
    text-align: center;
    font-weight: 100;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .product-container {
        flex: 1 0 calc(100% - 10px);
    }
}
