﻿.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100,100,100,0.3);
}


.spinner-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

    .spinner-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 80%;
        height: 80%;
        margin: 6px;
        border: 6px solid #fff;
        border-radius: 50%;
        animation: spinner-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #07d transparent transparent transparent;
    }

        .spinner-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .spinner-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .spinner-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }

@keyframes spinner-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
