﻿@model List<Product>

@{ var items = Model.GroupBy(p => p.Id).Select(g => new { Product = g.FirstOrDefault(), Ammount = g.Count() });}
<div class="cart-items">
    @foreach (var item in items)
    {
        <div>
            <h3>@item.Product.Name</h3>
            <div>
                <a>
                    <img src="@item.Product.Images.FirstOrDefault()?.Path" />
                </a>
            </div>
            <div class="item-unit-price">
                <span>@item.Product.Price</span>
            </div>
            <div>
                <button type="button">-</button>
                <input type="number" />
                <button type="button">+</button>
            </div>
            <div class="total-item-price">
                <span>@(item.Product.Price * item.Ammount)</span>
            </div>

        </div>
    }

</div>