﻿@model List<Folder>
<button class="btn btn-primary" id="btn" data-url="@Url.Action("AddFolder","Folders")">Add</button>
<div id="folders-container" class="flex flex-wrap">
    @foreach (var item in Model)
    {

        <div class="icon-folder">

            <a href="@Url.Action("OpenFolder","Folders",new { Id=item.Id})">
                <img src="~/images/folder.ico" alt="Folder" />
            </a>
            <h3 class="folder-name">@item.Name</h3>
        </div>

    }
</div>
