﻿@model Folder



<h2>@Model.Name</h2>

<input class="upload-btn" id="add-image-input" data-folder-id="@Model.Id" multiple accept="image/*" type="file" />
<label for="add-image-input" class="lab">Upload files</label>

<div id="images-container" class="flex flex-wrap">
    @if (Model.Images != null)
    {
        @foreach (var img in Model.Images)
        {
            <div class="image-card">
                <div class="image-delete">
                    <button class="image-delete-btn" data-image-id="@img.Id">X</button>
                </div>
                <div class="image-item"><img src="@img.Path" /></div>
                <div class="image-label"><span>@img.Name</span></div>
            </div>


        }
    }

</div>