﻿@model Product

<input id="product-id" type="hidden" value="@Model.Id" />
<div class="product-details-card flex flex-margin-mid">
    <div class="image-container">
        <img class="full-width" src="@Model.Images.FirstOrDefault()?.Path" />
    </div>
    <div class="flex flex-column flex-fill">
        <h3>@Model.Name</h3>
        <br />
        <p>@Model.Description</p>
        <hr class="flex-bottom" />
        <div class="flex flex-margin-mid">
            <label class="product-price flex-left">@Model.Price SEK</label>
            <button class="btn btn-large btn-success flex-right" type="button">Buy Now</button>
            <button id="add-to-cart" class="btn btn-large btn-primary" type="button">Add To Cart</button>
        </div>
    </div>
</div>