﻿@import url('global.css');



table {
    width: 100%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

td, th {
    border: 1px solid #ddd;
    text-align: center;
    padding: .5em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/*tbody tr td {
    text-align: center;
    padding: .5em;
}*/


.body-content {
    padding: 1em 1.5em;
    width: 100%;
}

.side-navigation {
    background-color: #eee;
    padding-left: .5em;
    padding-top: .5em;
}

.navigation-item {
    min-width: 8em;
    text-align: center;
    padding: .8em;
    text-decoration: none;
}

.navigation-item-active {
    background-color: white;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    position: relative;
    left: 2px;
    box-shadow: -5px -5px 4px 1px #ccc, -5px 5px 4px 1px #ccc;
}


#images-container {
    justify-content: space-around;
    margin: 20px 0;
}

.image-card {
    display: flex;
    flex-direction: column;
    width: 31%;
    margin-bottom: 20px;
    position: relative;
}

    .image-card:hover .image-delete button {
        display: inline-block;
    }

.image-delete {
    position: absolute;
    right: 7px;
    top: 5px;
}

    .image-delete button {
        display: none;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 50%;
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }

        .image-delete button:active {
            outline: none;
            border: none;
        }

        .image-delete button:focus {
            outline: 0;
        }

.image-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    padding: 10px;
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

    .image-item img {
        width: 100%;
        height: auto;
    }

.image-label {
    text-align: center;
    padding: 10px;
}



.upload-btn {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

    .upload-btn + .lab {
        background-color: #000;
        border-radius: 4rem;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 700;
        height: 4rem;
        line-height: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
        transition: background-color 0.3s;
    }

    .upload-btn:focus + .lab,
    .upload-btn + label:hover {
        background-color: #f15d22;
    }

    .upload-btn:focus + .lab {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }



.btn-round {
    border-radius: 50%;
    border: none;
    padding: 7px;
    position: relative;
    width: 40px; /* desired width */
    height: 40px;
}

.btn-color-blue {
    background-color: #0275d8;
    color: #fff;
}


.folder-card {
    padding: 7px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

    .folder-card > img {
        width: 100%;
        margin: auto;
    }

    .folder-card > .folder-card-name {
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: auto;
    }

.folder-card-selected {
    border-radius: 7px;
    background-color: cornflowerblue;
}

.icon-folder {
    padding: 2%;
    width: 8%;
}

    .icon-folder > a > img {
        height: auto;
        width: 100%;
    }

.folder-name {
    text-align: center;
    margin: 0;
}
