﻿/*@import url('all.min.css');*/

.flex {
    display: flex;
}

.flex-wrap {
    flex-flow: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-fill {
    flex-grow: 1000;
}

.flex-margin-small > * {
    margin: 5px;
}

.flex-margin-mid > * {
    margin: 10px;
}

.flex-margin-larg > * {
    margin: 20px;
}

.flex-margin-sides-small > * {
    margin-left: 5px;
    margin-right: 5px;
}

.flex-margin-sides-mid > * {
    margin-left: 10px;
    margin-right: 10px;
}

.flex-margin-sides-larg > * {
    margin-left: 20px;
    margin-right: 20px;
}

.full-width {
    width: 100%;
}

flex-top {
    margin-bottom: auto;
}

.flex-bottom {
    margin-top: auto;
}

.flex-right {
    margin-left: auto;
}

.flex-left {
    margin-right: auto;
}

hr {
    width: 100%;
    border-top: 1px solid #eee;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
}

.btn-large {
    /*padding: 12px 24px;
    font-weight: 600;
    font-size: 16px;*/
    padding: 1rem 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .5rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0069d9;
        border-color: #0062cc;
    }

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

    .btn-success:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

    .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }

nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 20px);
    display: flex;
    background-color: #000;
    color: white;
    z-index: 1000;
    padding: 20px 10px;
}

    nav.navbar a {
        text-decoration: inherit;
        color: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
