﻿@import "global.css";

.body-content {
    margin-top: 70px;
}



.product-details-card > .image-container {
    width: 40%;
}

.product-price {
    font-size: 24px;
    font-weight: 700;
}


.shopping-cart {
    position: relative;
}

.shopping-cart-indicator {
    position: absolute;
    top: 0;
    right: 0;
    padding: .4em;
    transform: translate(40%, -40%)
    /*background-color: red;
        border-radius: 50%;
        text-align: center;
        font-size: 20px;
        padding:.2em;*/
}

.shopping-cart-count {
    position: relative;
    font-size: 20px;
    z-index: 100;
}

.shopping-cart-background {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #ff0800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .product-details-card {
        flex-direction: column;
    }

        .product-details-card > .image-container {
            width: 100%;
        }
}
