﻿@using FireTwin.Extras.Security
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body>
    <div class="flex">

        <div class="side-navigation flex flex-column">
            <a class="navigation-item @(controllerName == "Categories" ? "navigation-item-active": "") " asp-controller="Categories" asp-action="Index">Categories</a>
            <a class="navigation-item @(controllerName == "Products" ? "navigation-item-active": "") " asp-controller="Products" asp-action="Index">Products</a>
            <a class="navigation-item @(controllerName == "Folders" ? "navigation-item-active": "") " asp-controller="Folders" asp-action="Index">Folders</a>

            <a class="navigation-item flex-bottom" asp-controller="Shop" asp-action="Index">Shop</a>
        </div>
        <div class="body-content">
            @RenderBody()
        </div>
    </div>
    <hr />
    <footer>
        <p>&copy; 2019 - FireTwin</p>
    </footer>




    @Html.RenderTsScripts("_AdminLayout")

    @RenderSection("Scripts", required: false)

</body>
</html>
