﻿@using FireTwin.Extras.Security
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FireTwin</title>
    @*<link href="~/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />*@

    <link href="~/css/webfonts/all.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    @*<script src="~/jquery-3.3.1.js"></script>*@
    @*<script src="~/bootstrap-3.3.7-dist/js/bootstrap.js"></script>*@
</head>
<body>
    <nav class="navbar ">
        <div class="container flex flex-margin-sides-mid">

            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a asp-area="" asp-controller="Shop" asp-action="Index">Shop</a>
            <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
            @if ((await AuthorizationService.AuthorizeAsync(
User,
Security.Policies.AdminOnly.ToText()
)).Succeeded)
            {
                <a asp-area="" asp-controller="Folders" asp-action="Index">Folders</a>
                <a asp-area="" asp-controller="Products" asp-action="Index">Products</a>
            }

            <div class="flex flex-margin-sides-mid flex-right">
                <div>
                    <a asp-controller="ShoppingCart" asp-action="Index" class="shopping-cart">
                        <i class="fas fa-shopping-cart fa-2x" style="color:white">
                        </i>
                        <div class="shopping-cart-indicator">
                            <div class="shopping-cart-count"></div>
                            <div class="shopping-cart-background">
                            </div>
                        </div>

                    </a>
                </div>
                <div>
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </div>

    </nav>
    <partial name="_CookieConsentPartial" />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - FireTwin</p>
        </footer>
    </div>
    @Html.RenderTsScripts("_Layout")
    @RenderSection("Scripts", required: false)

</body>
</html>
